<% provide(:title, "About") %>
<h1>About</h1>
  <p>
    The <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a> is a book and screencast series to teach development with Ruby on Rails.
    This is the sample applicat for the tutorial.
  </p>